<div class="category-details text-center">
  <h1>Scegli una categoria per il macchinario {{ macchinarioName }}:</h1>
  <select (change)="onSelectCategoria($event)">
    <option value="">Seleziona una categoria</option>
    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
  </select>

  <div *ngIf="selectedCategoria">
    <h3>Prodotti nella categoria {{ selectedCategoria.name }}:</h3>
    <table>
      <thead>
        <tr>
          <th style="text-align: left;">Nome Prodotto</th>
          <th style="text-align: left;">Quantità</th>
          <th style="text-align: left;">Posizione</th>
          <th style="text-align: left;">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.location }}</td>
          <td>
            <input type="number" [(ngModel)]="product.inputQuantity" placeholder="Quantità" style="width: 60px; margin-right: 5px;" />
            <button *ngIf="isAdmin" (click)="updateQuantity(product.id, product.inputQuantity)">+</button>
            <button (click)="updateQuantity(product.id, -product.inputQuantity)">-</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
