<div *ngIf="category" class="category-details">
    <h1>{{ category.name }}</h1>
    <table>
      <tr class="">
        <th >Nome Prodotto</th>
        <th>Quantità</th>
        <th>Azioni</th>
      </tr>
      <tr *ngFor="let product of category.products">
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button (click)="updateQuantity(product, 1)">+</button>
          <button (click)="updateQuantity(product, -1)">-</button>
        </td>
      </tr>
    </table>
  </div>
  