<nav *ngIf="isNavbarActive">
  <a (click)="onLogoClick()">
    <img src="../../assets/img/logo_page-0001-removebg-preview.png" alt="Logo" class="logo" />
  </a>

  <ng-container *ngIf="showAdditionalLinks">
    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/home">Home</a>
      <ng-container *ngIf="isAdmin">
        <a routerLink="/add-category">Aggiungi Categoria</a>
        <a routerLink="/add-product">Aggiungi Ricambio</a>
        <a routerLink="/inserisci-macchinario">Inserisci Macchinario</a>
        <a routerLink="/modifica-macchinario">Modifica Macchinario</a>
        <a routerLink="/registrati"> Registrati</a>
      </ng-container>
      <a routerLink="/notes">Report</a>
      <div class="auth-links">
        <div class="welcome-text">
          Benvenuto {{ user?.user?.name }} {{ user?.user?.surname }}
          <button type="button" class="btn btn-danger" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</nav>
