nav {
  background: linear-gradient(to top, rgba(0, 123, 255, 0.8), rgba(0, 123, 255, 0.4));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 250px;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
