<nav>
  <a href="/home">
    <img src="favicon.ico" alt="Logo" class="logo" />
  </a>
  <a routerLink="/home">Home</a>
  <ng-container *ngIf="isLoggedIn">
    <a routerLink="/notes">Notes</a>
    <a routerLink="/inserisci-macchinario">Inserisci Macchinario</a>
    <a routerLink="/add-category">Aggiungi Categoria</a>
    <a routerLink="/add-product">Aggiungi Prodotto</a>
    <div class="auth-links">
      <div class="welcome-text">
        Benvenuto {{ user?.user?.name }} {{ user?.user?.surname }}
        <button type="button" class="btn btn-danger" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <div class="auth-links">
      <a routerLink="/registrati">Registrati</a>
      <input
        type="email"
        placeholder="Email"
        class="email-input px-2"
        [(ngModel)]="email"
      />
      <input
        type="password"
        placeholder="Password"
        class="password-input px-2"
        [(ngModel)]="password"
      />
      <button class="login-button" (click)="login()">Accedi</button>
    </div>
  </ng-container>
</nav>
