<div class="mt-5">
  <form [formGroup]="macchinarioForm" (ngSubmit)="onSubmit()">
    <div>
      <label class="carattere">Macchinario:</label>
      <select (change)="onMacchinarioChange($event)">
        <option value="" disabled selected>Seleziona macchinario</option>
        <option *ngFor="let macchinario of macchinarios" [value]="macchinario.id">
          {{ macchinario.name }}
        </option>
      </select>
    </div>

    <div>
      <label class="carattere">Categorie:</label>
      <div *ngFor="let category of categories">
        <input
          type="checkbox"
          [value]="category.id"
          (change)="onCategoryChange($event)"
          [checked]="selectedCategoryIds.includes(category.id)"
        />
        {{ category.name }}
      </div>
    </div>

    <div>
      <label class="carattere">Prodotti:</label>
      <div *ngFor="let product of products">
        <input
          type="checkbox"
          [value]="product.id"
          (change)="onProductChange($event)"
          [checked]="selectedProductIds.includes(product.id)"
        />
        {{ product.name }}
      </div>
    </div>

    <button type="submit" [disabled]="!isFormValid()">Salva Modifiche</button>
  </form>
</div>

<!-- Modale di conferma -->
<div class="modal fade" tabindex="-1" [ngClass]="{'show d-block': showModal}" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom-modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title">Conferma</h5>
        <button type="button" class="close" (click)="cancelSubmit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal-body">
        <p>Sei sicuro di voler salvare le modifiche?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-confirm-btn" (click)="confirmSubmit()">Conferma</button>
        <button type="button" class="btn custom-cancel-btn" (click)="cancelSubmit()">Annulla</button>
      </div>
    </div>
  </div>
</div>
