body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  
  .logo {
    height: 40px;
    margin-right: 20px;
  }
  