<form [formGroup]="productForm" (ngSubmit)="showConfirmation()" class="mt-5">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div>
    <label for="name" class="carattere">Nome Ricambio</label>
    <input id="name" formControlName="name" type="text" placeholder="Inserisci il nome del prodotto">
  </div>
  
  <div>
    <label for="location" class="carattere">Locazione</label>
    <input id="location" formControlName="location" type="text" placeholder="Inserisci la locazione">
  </div>
  
  <div>
    <label for="quantity" class="carattere">Quantità</label>
    <input id="quantity" formControlName="quantity" type="number" placeholder="Inserisci la quantità">
  </div>
  
  <div>
    <label for="inputQuantity" class="carattere">Quantità in ingresso</label>
    <input id="inputQuantity" formControlName="inputQuantity" type="number" placeholder="Inserisci la quantità in ingresso">
  </div>
  
  <div>
    <label for="categoryId" class="carattere">Categoria</label>
    <select id="categoryId" formControlName="categoryId">
      <option value="" disabled selected>Seleziona una categoria</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  
  <button type="submit" [disabled]="productForm.invalid" class="mt-5">Aggiungi Prodotto</button>
</form>

<!-- Modale di conferma -->
<div class="modal fade" tabindex="-1" [ngClass]="{'show d-block': showModal}" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom-modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title">Conferma</h5>
        <button type="button" class="close" (click)="cancelSubmit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal-body">
        <p>Sei sicuro di voler aggiungere questo ricambio?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-confirm-btn" (click)="confirmSubmit()">Conferma</button>
        <button type="button" class="btn custom-cancel-btn" (click)="cancelSubmit()">Annulla</button>
      </div>
    </div>
  </div>
</div>
