/* Stili generali per tutti i dispositivi */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form > div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 20px); /* Larghezza meno il padding */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.carattere {
  font-size: 1.2em;
}

/* Modale CSS */
.modal.fade:not(.show) {
  display: none; /* Nasconde la modale quando non è visibile */
}

.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
}

.modal-dialog {
  position: fixed;
  top: 41%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.custom-modal-content {
  background-color: #f8f9fa; /* Colore di sfondo simile alla navbar */
  border-radius: 0.5rem;
}

.custom-modal-header {
  background-color: #343a40; /* Colore di sfondo simile alla navbar */
  color: #ffffff; /* Colore del testo simile alla navbar */
}

.custom-modal-body {
  background-color: #ffffff; /* Colore di sfondo del corpo della modale */
  color: #343a40; /* Colore del testo simile alla navbar */
}

.custom-confirm-btn {
  background-color: #28a745; /* Colore del pulsante di conferma */
  color: #ffffff; /* Colore del testo del pulsante */
}

.custom-confirm-btn:hover {
  background-color: #218838; /* Colore del pulsante di conferma al passaggio del mouse */
}

.custom-cancel-btn {
  background-color: #dc3545; /* Colore del pulsante di annullamento */
  color: #ffffff; /* Colore del testo del pulsante */
}

.custom-cancel-btn:hover {
  background-color: #c82333; /* Colore del pulsante di annullamento al passaggio del mouse */
}

/* Media Query per Tablet (max-width: 768px) */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  form {
    padding: 15px;
  }

  input[type="text"],
  input[type="number"],
  select {
    font-size: 14px;
    padding: 8px;
  }

  button[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }

  .carattere {
    font-size: 1em;
  }
}

/* Media Query per Telefono (max-width: 480px) */
@media (max-width: 480px) {
  .container {
    padding: 5px;
    box-shadow: none; /* Rimuove l'ombra per schermi più piccoli */
  }

  form {
    padding: 10px;
  }

  input[type="text"],
  input[type="number"],
  select {
    font-size: 12px;
    padding: 6px;
  }

  button[type="submit"] {
    font-size: 12px;
    padding: 6px;
  }

  .carattere {
    font-size: 0.9em;
  }

  .modal-dialog {
    top: 60% !important;
    transform: translate(-30%, -40%) !important;
  }
}
