<div class="container">
    <div class="card" (click)="navigateTo('produzione')">
      <img
        src="../../assets/img/Manutenzione.jpg"
        alt="Manutenzione"
        class="card-image"
      />
      <div class="card-content">
        <h3>Produzione</h3>
      </div>
    </div>
    <div class="card" (click)="navigateTo('calendar')">
      <img
        src="../../assets/img/calendario.jpg"
        alt="Calendario"
        class="card-image"
      />
      <div class="card-content">
        <h3>Calendario</h3>
      </div>
    </div>
    <div class="card" (click)="navigateTo('home')">
      <img
        src="../../assets/img/Produzione.jpg"
        alt="Produzione"
        class="card-image"
      />
      <div class="card-content">
        <h3>Manutenzione</h3>
      </div>
    </div>
    <div class="card" (click)="navigateTo('utente')">
        <img
          src="../../assets/img/logo_page-0001-removebg-preview.png"
          alt="Calendario"
          class="card-image"
        />
        <div class="card-content">
          <h3>Segreteria</h3>
        </div>
      </div>
  </div>
  