// Variabili
$color-white: #fff;
$color-black: #000;
$color-dark: #444;
$color-darker: #555;
$color-red: #dc3545;
$color-red-dark: #c82333;
$color-green: #28a745;
$color-green-dark: #218838;
$color-light-bg: #f8f9fa;
$color-dark-bg: #343a40;
$color-success: #4caf50;
$color-error: #f44336;