@import '_variablesNotes.scss';
@import '_mixinsNotes.scss';

// Contenitore principale
.container {
  color: $color-white;
  padding: 15px; // Aggiunto padding per coerenza tra i dispositivi
}

// Stili generali
.carattere {
  font-size: 1.2em;
  color: $color-white;
}

#notesText {
  background-color: $color-white;
  color: $color-black;
  border: 1px solid $color-darker;
}

.list-group-item {
  background-color: $color-dark;
  color: $color-white;
  border: 1px solid $color-darker;

  &:hover {
    background-color: darken($color-dark, 10%);
  }
}

.btn-danger {
  background-color: $color-red;
  color: $color-white;
  border: none;

  &:hover {
    background-color: $color-red-dark;
  }
}

// Spinner
.loading-spinner-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.spinner-icon {
  font-size: 24px;
  color: $color-red;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Notifiche
.notification {
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 16px;
  @include border-radius(4px);
  color: $color-white;
  font-weight: bold;
  z-index: 1000;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  &.success {
    background-color: $color-success;
  }

  &.error {
    background-color: $color-error;
  }
}

// Modale
.custom-modal-content {
  background-color: $color-light-bg;
  @include border-radius(0.3rem);
  border: 1px solid #ddd;
  @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.custom-modal-header {
  background-color: $color-dark-bg;
  color: $color-white;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.custom-modal-body {
  background-color: $color-white;
  color: $color-dark-bg;
  padding: 20px;
}

.custom-confirm-btn {
  background-color: $color-green;
  color: $color-white;
  border: none;
  @include border-radius(0.3rem);
  padding: 10px 20px;
  font-size: 16px;

  &:hover {
    background-color: $color-green-dark;
  }
}

.custom-cancel-btn {
  background-color: $color-red;
  color: $color-white;
  border: none;
  @include border-radius(0.3rem);
  padding: 10px 20px;
  font-size: 16px;

  &:hover {
    background-color: $color-red-dark;
  }
}

.modal.fade:not(.show) {
  display: none;
}

.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 90%;

  @media (max-width: 768px) {
    width: 85% !important;
    max-width: 450px !important;
    top: 50% !important;
    transform: translate(-50%, -60%) !important;
  }

  @media (max-width: 480px) {
    width: 95% !important;
    max-width: 350px !important;
    top: 50% !important;
    transform: translate(-50%, -60%) !important;
  }
}