// Variabili
$color-bg: #f9f9f9;
$color-white: #fff;
$color-dark: #333;
$color-border: #ddd;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-blue: #007bff;
$color-red: #dc3545;
$color-red-dark: #c82333;
$color-orange: #ff5733;
$color-dark-red: #c70039;
$color-green: #28a745;
$color-green-dark: #218838;
$color-success: #4caf50;
$color-error: #f44336;
