// Contenitore principale
.calendar-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
  
  // Calendario e Attività
  .calendar-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  // Intestazione del calendario
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to bottom right, $primary-color, rgba(255, 0, 0, 0.4));
    color: $button-text-color;
    @include border-radius;
    @include box-shadow;
    button {
      @include button-style($primary-color, $button-text-color);
      @include button-hover($hover-color);
      &:disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }
  
  // Giorni della settimana e Griglia
  .calendar-days,
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .giorno-settimana {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .giorno-calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: $background-color;
    border: 1px solid $border-color;
    cursor: pointer;
    @include border-radius;
    @include transition(background-color, transform);
    &:hover {
      background-color: #f9f9f9;
      transform: scale(1.05);
    }
    .pallini-container {
      display: flex;
      gap: 4px;
      margin-top: 5px;
    }
  }
  
  // Tablet
@media (max-width: 768px) {
    .calendar-container {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      padding: 20px;
    }
    .legend, .calendar-header, .calendar-main, .event-form, .attivita-giorno {
      width: 100%;
      margin-bottom: 20px;
    }
    .calendar-days, .calendar-grid {
      grid-template-columns: repeat(7, 1fr);
    }
  }
  
  // Mobile
  @media (max-width: 480px) {
    .calendar-header {
      flex-direction: column;
      align-items: flex-start;
      button {
        width: 100%;
        margin-top: 10px;
      }
    }
    .calendar-days, .calendar-grid {
      gap: 5px;
    }
    .giorno-calendario {
      padding: 5px;
    }
    .legend {
      padding: 10px;
      h3 {
        font-size: 18px;
      }
      .legend-item span {
        font-size: 12px;
      }
    }
    .event-form, .attivita-giorno {
      padding: 10px;
      strong {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }
    .buttons-container {
      flex-direction: column;
      button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }