.home-container {
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
  text-align: center;
  margin-top: 0px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

option {
  padding: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
}
